<div class='cms-wrapper cms-uploads-0'>
<?if($current_user->allowed($module_name, "index")):?>
  <?$mods = CMSApplication::get_modules()?>
  <div class='index_container'>
    <div class='clearfix filters_pagination <?if(!$tree_layout && $cms_content->total_without_limits() > $per_page):?> pagination_used<?endif?>'>

      <?=partial("_filter_block");?>
    </div>

    <div class='listing' id="data-listing">
      <?=partial("_selectable_list", array('tree_layout'=>$tree_layout, 'cms_content'=>$cms_content, 'scaffold_columns'=>$scaffold_columns, 'controller'=>$controller, 'operation_actions'=>$operation_actions, 'current_user'=>$current_user, 'module_name'=>$module_name))?>
    </div>
    <?if(!$tree_layout):?>
    <div class='pagination pagination_bottom clearfix'>
      <?=paginate_links($cms_content, "2")?>
    </div>
    <?endif?>
  </div>

<?endif?>
</div>