fieldset.further-actions .join-option label{
  float:left;
  width:20%;
}
fieldset.further-actions .join-option select{
  float:left;
  width:30%;
}
fieldset.further-actions .text_field{
  float:left;
  width:20%;
}