<?if(!$active_form) $active_form = 0;?>


  <?foreach($answer_forms as $i=>$form):?>
    <form action="<?(($form_action)? str_replace("%s%", $i, $form_action) : "#wf_form_".$i)?>" id="wf_form_<?=$i?>" class='job_form wax_form clearfix <?if($i == $active_form):?>active_form<?endif?>' method="post" enctype="multipart/form-data">
      <div class='form_content clearfix'>
        <?#this field is used as a bot check on the form and will be hidden via js?>
        <fieldset class='check-in'>
          <label for='check-in'>Check in</label>
          <input type="text" class='input_field text_field' name='check-in[<?=date("Y-m-d")?>]' id="check-in" value="">
        </fieldset>

        <?if($form->handler->bound_to_model && $form->handler->bound_to_model->primval > 0):?>
          <input type="hidden" name="<?=$form->handler->bound_to_model->table?>[id]" value="<?=$form->handler->bound_to_model->primval?>">
        <?else:?>
          <input type="hidden" name="_form" value="<?=$i?>">
          <?=$form->application->render();?>
          <?=$form->question->render();?>
        <?endif?>
        <fieldset class='clearfix'>
          <h3><?=$form->question_text->value?></h3>
          <p><?=$form->question_subtext->value?></p>
          <?=$form->errors()?>
          <?if($form->handler->bound_to_model && $form->handler->bound_to_model->primval > 0 && $form->answer->value):?>
          <div class='answered'>
            <span>Your current answer: <strong><?=$form->answer->value?></strong></span>
          </div>
          <?endif?>
          <div class='clearfix questions'>
            <?=$form->answer->render(array('label'=>false))?>
          </div>
        </fieldset>
        <?if($form->handler->bound_to_model && $form->handler->bound_to_model->primval > 0):?>

        <?else:?>
          <fieldset class='clearfix submit'><input type="submit" class='submit_button button submit_input' value='SUBMIT'></fieldset>
        <?endif?>
      </div>
    </form>

  <?endforeach?>

