<?if(!$active_form) $active_form = 0;?>
<?
$all_total = count($answer_forms);
$i = 0;
$has_repeating=0;
?>

  <?foreach($answer_forms as $question_url=>$forms):?>
    <?
    $errors = $header = false;
    $cols_forms = $total = count($forms);
    $stacked = 0;
    $sets=0;
    foreach($forms as $fg){
      foreach($fg as $f){
        if($f->extra_class->value == "stacked") $stacked ++;
        if($f->field_type->value == "HiddenInput") $has_repeating++;
      }
    }

    $cols_forms = $total - $stacked - $has_repeating;

    if($cols_forms == 2) $cols = 2;
    else if($cols_forms == 4) $cols = 4;
    else if($cols_forms > 3) $cols = 3;
    else $cols = 1;


    ?>


    <form data-total="<?=$total?>" data-stacked="<?=$stacked?>" data-repeat="<?=$has_repeating?>" data-cf="<?=$cols_forms?>" action="#wf_form_<?=$i?>" id="wf_form_<?=$i?>" class='job_form wax_form clearfix <?if($i == $active_form):?>active_form<?endif?> form-<?=(($total > 1) ? "multi" : "single")?> form-has-<?=$cols?>' method="post" enctype="multipart/form-data">
    <div class='<?if($has_repeating):?>form-has-repeating<?endif?>'>
      <input type="hidden" name="_job" value="<?=$job_primval?>">
      <div class='form_content clearfix'>
        <?if($i == 0):?>
        <?#this field is used as a bot check on the form and will be hidden via js?>
        <fieldset class='check-in'>
          <label for='check-in'>Check in</label>
          <input type="text" class='input_field text_field' name='check-in[<?=date("Y-m-d")?>]' id="check-in" value="">
        </fieldset>
        <?endif?>
        <input type="hidden" name="_original_form" value="<?=$question_url?>">
        <input type="hidden" name="_form" value="<?=$question_url?>">
        <div class='clearfix form_block form-<?=$question_url?>'>

        <?foreach($forms as $k=>$form_group):?>
          <?foreach($form_group as $p=>$form):?>

          <?
          $field_prefix = 'answer-'.$question_url.'-'.$k."-".$p;
          $extra_class = "question-".strtolower(get_class($form->answer));
          ?>
          <?if(!$header):?>
          <h3><?=stripslashes($form->question_text->value)?></h3>
          <?$header = true;?>
          <?endif?>
          <?if(!$errors):?>
          <div class='error_box'>
            <?=$error_forms[$question_url];?>
          </div>
            <?$errors = true;?>
          <?endif?>
          <div class="wrap<?=$form->extra_class->value?><?=strtolower(get_class($form->answer))?> ec-<?=$form->extra_class->value?>">
            <?if($form->handler->bound_to_model && $form->handler->bound_to_model->primval > 0):?>
            <input type="hidden" name="<?=$form->handler->bound_to_model->table?>-<?=$question_url?>-<?=$k?>[id]" value="<?=$form->handler->bound_to_model->primval?>">
            <?else:?>
            <?=$form->application->render(array('name'=>$field_prefix.'[application]'));?>
            <?=$form->question->render(array('name'=>$field_prefix.'[question]', 'id'=>$field_prefix.'-question'));?>
            <?=$form->job->render(array('name'=>$field_prefix.'[job]', 'value'=>$job_primval, 'id'=>$field_prefix.'-job'));?>
            <?=$form->question_order->render(array('name'=>$field_prefix.'[question_order]', 'id'=>$field_prefix.'-question-order'));?>
            <?endif?>

            <fieldset class='clearfix question_set question-set-<?=$sets%$cols?> <?=$extra_class?> q<?=$k?> top<?=$form->extra_class->value?>'>
              <div class='job_content'>
                <p><?=str_replace("\'", "'", $form->question_subtext->value)?></p>
              </div>

              <?if($form->handler->bound_to_model && $form->handler->bound_to_model->primval > 0 && $form->answer->value && $form->answer instanceOf RadioInput):?>
              <div class='answered'>
                <span>Your current answer: <strong><?=stripslashes($form->answer->value)?></strong></span>
              </div>
              <?endif?>
              <div class='clearfix questions question<?=$form->extra_class->value?>'>
                <?if($form->answer->choices && ($form->answer instanceOf RadioInput)):?>
                  <?$tmp = $form->answer->choices; arsort($tmp);?>
                  <?=$form->answer->render(array('label'=>false, 'name'=>$field_prefix.'[answer]', 'choices'=>$tmp, 'id'=>$field_prefix.'-answer'))?>
                <?else:?>
                  <?=$form->answer->render(array('label'=>false, 'name'=>$field_prefix.'[answer]', 'id'=>$field_prefix.'-answer'))?>
                <?endif?>
              </div>
              <div class='warning clearfix'>
                <h3>Sorry</h3>
                <p><?=stripslashes($form->deadend_copy->value)?></p>
              </div>
            </fieldset>
          </div>
          <?if($form->extra_class->value != "stacked") $sets++;?>
          <?endforeach?>
        <?endforeach?>
        </div>
        <fieldset class='clearfix submit'><input data-i="<?=$i?>" data-t="<?=$all_total?>" type="submit" class='submit_button button submit_input' value='Confirm' name="<?if($i+1 == $all_total):?>completed_application<?else:?>submitted_q<?endif?>"></fieldset>
      </div>
      </div>
    </form>
    <?$i++;?>

  <?endforeach?>

