<div class='joins joins_<?=count($fields)?> clearfix'>
  <div class='existing_fields clearfix' id="custom_form_existing_field">
    <div class='field clearfix multipleselect' data-type="multipleselect" data-origin-class="<?=$model_class?>" data-origin-primval="<?=$model->primval?>" data-destination-class="<?=$join_class?>">
    <ul class=''>
    <?if(($answers = $model->answers) && ($answers = $answers->order("id ASC, question_order ASC")->all() )):?>
      <?=partial("_sorted_answers", array('answers'=>$answers) )?>

    <?endif?>
    </ul>
    </div>

  </div>
</div>