
<div class='joins joins_<?=count($fields)?> clearfix'>
  <div class='existing_fields clearfix' id="custom_form_existing_field">
    <div class='field clearfix multipleselect' data-type="multipleselect" data-origin-class="<?=$model_class?>" data-origin-primval="<?=$model->primval?>" data-destination-class="<?=$join_class?>">
    <?$title = "";?>
    <?if($app = $model->application):?>
    <ul class=''>
    <?if(($answers = $app->answers) && ($answers = $answers->order("id ASC")->all)):?>
        <?
        $sub_questions = $stored_answers = array();
        /**
          * this gets complicated.... need to move everything to a new structure to filter out duplicates, but only complete duplicates, you can get partial dups
          * with the recurring questions (ie you can get a-levels at same place as gcse.. can get promoted at same company)
          * or it could be accidently entered twice to the db (then they would be totaly the same)
          */
        foreach($answers as $i=>$row) $sub_questions[trim($row->question_text)][trim($row->question_subtext)][] = $row;
        $counters = array();
        foreach($sub_questions as $section=>$rows){
          foreach($rows as $q => $ans){
            foreach($ans as $i => $v){
              $stored_answers[$section][$i][$q] = $v;
            }
          }
        }

        ?>

        <?foreach($stored_answers as $section_name=>$details):?>

          <?
            $done = array();
            foreach($details as $k=>$group){
              $lookup = "";
              foreach($group as $a){
                if($a->extra_class == "repeating" && $a->answer) $lookup .= strtolower(trim($a->question_text)."|".trim($a->question_subtext)."|".trim($a->answer)."|");
              }
              if(in_array($lookup, $done)){
                unset($stored_answers[$section_name][$k]);
                unset($details[$k]);
              }
              $done[] = $lookup;
            }

          ?>
          <li class='s-<?=Inflections::underscore($section_name)?>'><h2 style="font-size:20px;"><?=$section_name?></h2></li>
          <?foreach($details as $answers):?>
            <?foreach($answers as $q => $row):?>
              <?if($row->question_text != "Equal Opportunities" && $row->field_type != "TitleInput" && $row->field_type != "HiddenInput"):?>
            <li class='s-<?=Inflections::underscore($section_name)?>'>
              <strong data-id="<?=$row->primval?>"><?=$row->question_subtext?><br></strong>
              <span class='answer_block'><?=nl2br($row->answer)?></span>
            </li>
              <?endif?>
            <?endforeach?>
          <?endforeach?>
          <li class='s-<?=Inflections::underscore($section_name)?>'><hr></li>

        <?endforeach?>




    <?endif?>
    </ul>
    <?endif?>
    </div>

  </div>
</div>