<div class='joins joins_<?=count($fields)?> clearfix'>
  <?
  $name = "templates";
  $join_class = $model->columns[$name][1]['target_model'];
  $join_model = new $join_class("multipleselect");
  $all = $join_model->all();
  $model_class = get_class($model);
  ?>
  <?if($all && $all->count()):?>
  <div class='field clearfix  multipleselect' data-type="multipleselect" data-origin-class="<?=$model_class?>" data-origin-primval="<?=$model->primval?>" data-destination-class="<?=$join_class?>">
    <h3><?=Inflections::humanize($name, true)?></h3>


    <?=partial("_filter_inline_tagged", array("name"=>$name, "filter_type"=>"multipleselect", "search_model"=>$join_model, "origin_model"=>$model, 'results'=>$all), "ajax")?>
  </div>
  <?endif?>
</div>